.bundle

*.swp
*~
.project
.DB_Store
.DS_Store
log/*
tmp
doc
*.ln
Thumbs.db
*.sublime-project
*.sublime-workspace

.sass-cache/
public/*/

*.sql
.routes
local/
config/application_local.yml
config/database.yml
config/secrets.yml
db/schema.rb