@import '../lib/common';
@import 'compass/css3/transition';
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: Arial, '나눔고딕', 'NanumGothic', 'NanumGothicOTF', 'lucida grande', tahoma, arial, sans-serif;
  margin: 0;
  font-size: 12px;

  &.home {
    background-color: #d4d4d4;
    background-image: image-url("main_background.png");

    .photo {
      padding: 5px;
    }
  }
}

div, a {
  box-sizing: border-box;
}

a {
  display: inline-block;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include transition(height 0.2s ease);
}

#page-container {
  position: relative;
  top: 0;
  left: 5%;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);

  &.animating {
    @include transition(-webkit-transform 0.2s ease);
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  padding: 8px;
  display: none;
}

.page-1 {
  display: block;
  -webkit-transform: translate3d(-200%, 0, 0);
}

.page-2 {
  display: block;
  -webkit-transform: translate3d(-100%, 0, 0);
}

.page-3 {
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
}

.page-4 {
  display: block;
  -webkit-transform: translate3d(100%, 0, 0);
}

.page-5 {
  display: block;
  -webkit-transform: translate3d(200%, 0, 0);
}

.pane {
  position: relative;
  margin-bottom: 10px;
  line-height: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.15);
  background-color: white;
}

img {
  width: 100%;
}

.col-1, .col-2 {
  float: left;
}

.col-1 {
  width: 50%;
  padding: 0 3px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  .pane {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.col-2 {
  width: 100%;
}

.menu {
  @include clearfix;
  padding: 0 15px;

  a {
    width: 33%;
    float: left;
    vertical-align: middle;
    padding: 10px 20px;

    img {
      vertical-align: middle;
    }
  }
}

#link-naver-map {
  padding: 0 10px 20px 10px;
}

#textarea-container {
  position: relative;

  div {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
  }
}

textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  resize: none;
}

.pane-item {
  margin-bottom: 10px;
}

.pane-new-comment {
  padding: 10px;
}

#board-title {
  padding: 5px 40px 0 40px;
}

.pane-comment {
  line-height: normal;
  padding: 5px;
  color: #777;
  @include transition(opacity 0.22s ease);

  .message {
    padding: 20px;
    background-image: image-url("stitch_background.png");
    background-repeat: repeat-y;
    background-size: 2px 14px;
  }

  .created-at {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
  }
}

.comment-height {
  opacity: 0;
  height: 0;
  @include transition(height 0.22s ease);
}